/* Add your CSS styles here */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  background-color: #f2f2f2;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

.category-nav {
  margin-top: 20px;
  margin-left: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  width: 80%;
}

.category-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
}

.category-nav ul li {
  margin-right: 5px;
  
}

.category-nav ul li a {
  display: inline-block;
  color: #333;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  width: 100px;
  transition: background-color 0.3s ease;
}

.category-nav ul li a.active, .category-nav ul li a:hover {
  background-color: #333;
  color: #fff;

}



.hero {
  background-image: url('../images/hero.avif');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.product-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding: 20px;
}

.product-container .product-card {
  /* Add your desired CSS styles here */
  border: 2px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.product-container .product-card img {
  /* Styles for the product image */
  max-width: 100%;
  margin-bottom: 20px;
  height: 100px;
}

.product-container .product-card h3 {
  /* Styles for the product name */
  font-size: 20px;
  margin-bottom: 10px;
}

.product-container .product-card p {
  /* Styles for the product description */
  font-size: 16px;
  margin-bottom: 20px;
}

.product-container .product-card .price {
  /* Styles for the product price */
  font-weight: bold;
  margin-bottom: 20px;
}

.product-container .product-card button {
  /* Styles for the buttons */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-container .product-card button:hover {
  /* Styles for the buttons on hover */
  background-color: #0056b3;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
